.param-btn {
    margin-top:10px;
}

.modal-dialog {
    margin: 30px!important;
}

.my-modal {
    position: fixed!important;
    left:0;
    top:0;
}

.sample-show-hide {
    transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
    opacity: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.param-description {
    margin: 5px 0 0 5px;
    display: inline-block;
}

.job-buttons {
    width:160px;
    /*position: fixed;*/
    /*bottom:0;*/
    /*margin-bottom:35px!important;*/
    margin-bottom: 0px!important;
    background: rgba(244, 244, 244, .5)!important;
}

.last-element {
    /*margin-bottom: 100px!important;*/
}

.configure-nav {
    position: fixed;
    width: 50%;
}