.param-btn {
    margin-top:10px;
}

.modal-dialog {
    margin: 30px!important;
}

.my-modal {
    position: fixed!important;
    left:0;
    top:0;
}

.sample-show-hide {
    transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
    opacity: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*.job-buttons {*/
    /*position: fixed;*/
    /*bottom: 0;*/
/*}*/